*{
    margin: 0 ;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    overflow-y: scroll;
}
#Overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    display: none;
}
.cartadded{
	width: 400px;
	height: 200px;
	background-color: white;
	margin: 0 auto;
	border: 3px solid rgba(0,0,255,0.5);
}
.close{
	width: 20px;
	height: 20px;
	margin-top: 0;
	margin-left: 380px;
	text-align: center;
	line-height: 20px;
	color: black;
	cursor: default;
	float: left;
}
.cartadded img{
	width: 400px;
	height: 92px;
	margin-top: 10px;
	float: left;
}
.close:hover{
	background-color: rgb(220,220,220);
}
.tobuy{
	width: 150px;
	color: rgb(255,77,84);
	line-height: 30px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: center;	
    float: left;
    background-color: white;
    border: 2px solid rgb(255,77,84);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}
.topay{
	width: 150px;
	list-style: none;
	color: white;
	line-height: 30px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: center;	
    float: left;
    margin-left: 20px;
    background-color: rgb(255,77,84);
    border: 2px solid rgb(255,77,84);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}
#Top{
    width: 100%;
    height: 140px;
    background-color: white;
    position: absolute;
    text-align: center;
    z-index: 9;
}
#TopContent{
	height: 100%;
	width: 1180px;
	margin: 0 auto;
}
#LTLabel{
	width: 100px;
	height: 20px;
	float: left;
	margin-top: 10px;
	color: rgb(156,156,156);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;
    text-align: left;
}
#RTToolbar{
	width: 700px;
	height: 20px;
	float: right;
	margin-top: 10px;
}
.qq{
	width: 19px;
	height: 19px;
	float: left;
	background: url("../img/common_min.png") 0 -31px;
}
.wechat{
	width: 19px;
	height: 19px;
	float: left;
	margin-left: 15px;
	background: url("../img/common_min.png") 0 -53px;
}
.weibo{
	width: 19px;
	height: 19px;
	float: left;
	margin-left: 15px;
	background: url("../img/common_min.png") 0 -75px;
}
.btlabel{
	height: 20px;
	float: left;
	margin-left: 15px;
	color: rgb(156,156,156);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;
    text-decoration: none;					/*去掉下划线*/
}
.btimg_1{
	height: 20px;
	float: left;
	margin-left: 15px;
	color: rgb(156,156,156);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;
    text-decoration: none;		
    padding-left: 22px;			
    background: url("../img/common_min.png") 0 -112px no-repeat;
}
.btimg_2{
	height: 20px;
	float: left;
	margin-left: 15px;
	color: rgb(156,156,156);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;
    text-decoration: none;		
    padding-left: 16px;			
    background: url("../img/dingdan.jpg") 0 3px no-repeat;
}
.btimg_3{
	height: 20px;
	float: left;
	margin-left: 15px;
	color: rgb(156,156,156);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;
    text-decoration: none;		
    padding-left: 10px;			
    background: url("../img/tp-my-phone.png") 0 3px no-repeat;
}
.btimg_4{
	height: 20px;
	float: left;
	margin-left: 15px;
	color: rgb(156,156,156);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;
    text-decoration: none;		
    padding-left: 20px;			
    background: url("../img/gouwuche.jpg") 0 1px no-repeat;
}
.gwclabel{
	height: 20px;
	float: left;
	margin-left: 10px;
	color: rgb(255,120,0);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: bold;
    user-select: none;
    text-decoration: none;					
}
#Logo{
	width: 141px;
	height: 62px;
	float: left;
	margin-top: 45px;
	position: absolute;
	background: url("../img/logo_03.jpg") 0 0px no-repeat;
}
#SearchBox{
	height: 40px;
	float: left;
	margin-top: 58px;
	margin-left: 250px;
	position: absolute;
}
#SearchBox input{
	width: 500px;
	height: 35px;
	float: left;
	border: 2.5px solid rgb(255,120,0);
	color: rgb(156,156,156);
	line-height: 40px;
	font-size: 13px;
	font-family: "微软雅黑";
    user-select: none;	
    padding-left: 2px;			
}
#btsearch{
	width: 80px;
	height: 40px;
	float: left;
	background-color: rgb(255,120,0);
	color: white;
	line-height: 40px;
	font-size: 15px;
	font-family: "微软雅黑";
    user-select: none;
    text-align: center;			
}
#RADBox{
	float: right;
	margin-top: 60px;
	margin-left: 915px;
	position: absolute;
}
.ad1{
	width: 85px;
	height: 36px;
	float: left;
    border: 0.5px solid rgb(156,156,156);	
}
.adimg1{
	width: 19px;
	height: 19px;
	float: left;
	margin-left: 30px;
	margin-top: 5px;
	background-color: black;
	background: url("../img/common_min.png") 0 -98px no-repeat;
}
.adlabel{
	width: 85px;
	height: 15px;
	float: left;
	color: rgb(156,156,156);
	line-height: 19px;
	font-size: 2px;
	font-family: "微软雅黑";
    user-select: none;	
    text-align: center;	
    margin-top: -5px;
}
.ad2{
	width: 85px;
	height: 36px;
	float: left;
    border: 0.5px solid rgb(156,156,156);	
}
.adimg2{
	width: 19px;
	height: 19px;
	float: left;
	margin-left: 30px;
	margin-top: 5px;
	background-color: black;
	background: url("../img/common_min.png") 0 -115px no-repeat;
}
.ad3{
	width: 80px;
	height: 36px;
	float: left;
	background-color: rgb(255,120,0);
    border: 0.5px solid rgb(156,156,156);	
}
.btad_3{
	width: 80px;
	height: 19px;
	float: left;
	color: white;
	line-height: 19px;
	font-size: 10px;
	font-family: "微软雅黑";
    user-select: none;
    text-decoration: none;	
    margin-top: 10px;	
    margin-left: 2px;
    padding-left: 5px;		
    background: url("../img/common_min.png") 0 -130px no-repeat;
}
#BToolBar{
	height: 30px;
	margin-left: 250px;
	position: absolute;
	float: left;
	bottom: 0;
}
.cheap{
	float: left;
	color: rgb(100,149,237);
	line-height: 19px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
.hot{
	float: left;
	color: rgb(255,0,0);
	line-height: 19px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
.normal{
	float: left;
	color: rgb(156,156,156);
	line-height: 19px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
#BToolBar span{
	width: 20px;
	float: left;
	color: rgb(156,156,156);
	line-height: 19px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
#Main{
    width: 100%;
    height: 1200px;
    background-color: rgb(247,247,247);
    z-index: 1;
}
#MainTitle{
	width: 100%;
    height: 40px;
    top: 140px;
    position: absolute;
    background-color: black;
    /*border-bottom: 1px solid rgb(255,120,0);*/
    z-index: 8;
}
#MainTitle ul{
	width: 1180px;
	margin: 0 auto;
}
#MainTitle ul div{
	width: 100px;
	height: 40px;
	float: left;
	background-color: rgb(255,77,84);
	color: white;
	line-height: 40px;
	font-size: 16px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
#MainTitle ul a{
	width: 125px;
	height: 40px;
	float: left;
	color: white;
	line-height: 40px;
	font-size: 16px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
#MainTitle ul img{
	margin-left: 41px; 
}
#MainContent{
	width: 1180px;
	height: 620px;
	top: 180px;
	left: 50%;
	margin-left: -590px;
	position: absolute;
	background-color: rgb(247,247,247);	
}
#MainTop{
	width: 100%;
	height: 30px;
	float: left;
	color: black;
	line-height: 30px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: left;	
}
#MainLeft{
	width: 990px;
	height: 620px;
	float: left;
    background-color: white;	
}
.imagebox{
	width: 408px;
	height: 408px;
	float: left;
	border: 1px solid rgb(207,207,207);
	background: url("../img/pp0.jpeg") no-repeat;
	margin-left: 20px;
	margin-top: 20px;
}
.imagebox img{
	width: 408px;
	height: 408px;
}
.bimagebox{
	width: 408px;
	height: 408px;
	border: 1px solid rgb(207,207,207);
	margin-left: 428px;
	margin-top: 20px;
	position: absolute;
	z-index: 5;
	display: none;
	background-color: white;
	overflow: hidden;
}
.bigimage{
	width: 408px;
	height: 408px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.mark{
	width: 100px;
	height: 100px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	z-index: 5;
	display: none;
}
.simagebox{
	width: 408px;
	height: 62px;
	position: absolute;
	margin-left: 20px;
	margin-top: 450px;
}
.leftbutton{
	width: 24px;
	height: 62px;
	position: absolute;
	background: url("../img/spanl.jpg") no-repeat;
}
.rightbutton{
	width: 24px;
	height: 62px;
	position: absolute;
	right: 0;
	background: url("../img/spanr.jpg") no-repeat;
}
.type1{
	width: 55px;
	height: 55px;
	position: absolute;
	background: url("../img/sp0.jpeg") no-repeat;
	background-color: grey;
	list-style: none;
	user-select: none;
	top: 4px;
	left: 30px;

}
.type2{
	width: 55px;
	height: 55px;
	position: absolute;
	background: url("../img/sp1.jpeg") no-repeat;
	background-color: grey;
	list-style: none;
	user-select: none;
	top: 4px;
	left: 90px;
	/*border: 1.5px solid rgb(255,120,0);*/

}
#MainRight{
	width: 180px;
	height: 620px;
	float: left;
    background-color: white;	
    margin-left: 10px;
    background: url("../img/ww_07.jpg") no-repeat;
}
.rname{
	width: 500px;
	height: 30px;
	left: 460px;
	top: 50px;
	position: absolute;
	text-align: left;
	color: black;
	line-height: 30px;
	font-size: 16px;
	font-family: "微软雅黑";	
    text-align: left;	
}
.rattr{
	width: 500px;
	height: 40px;
	left: 460px;
	top: 80px;
	position: absolute;
	text-align: left;
	color: rgb(156,156,156);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    text-align: left;	
}
.price{
	width: 500px;
	height: 40px;
	left: 480px;
	top: 140px;
	position: absolute;
}
.pname{
	list-style: none;
	text-align: left;
	color: black;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: left;	
    float: left;
}
.pvalue1{
	list-style: none;
	text-align: left;
	color: rgb(255,120,0);
	line-height: 40px;
	font-size: 16px;
	font-family: "微软雅黑";
    text-align: left;	
    float: left;
    margin-left: 50px;
}
.pvalue2{
	text-align: left;
	color: black;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: left;	
    float: left;
    margin-left: 20px;
}
.volume{
	width: 500px;
	height: 40px;
	left: 480px;
	top: 260px;
	position: absolute;
}
.vname{
	list-style: none;
	text-align: left;
	color: black;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: left;	
    float: left;
}
.vvalue1{
	width: 58px;
	height: 26px;
	list-style: none;
	text-align: left;
	color: black;
	line-height: 26px;
	font-size: 12px;
	font-family: "微软雅黑";
    text-align: center;	
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.vvalue1 span{
	width: 13px;
	height: 13px;
	background-color: red;
	float: right;
	margin-top: 13px;
	background: url("../img/duigou.png") no-repeat;
	display: none;
}
.vvalue2{
	width: 58px;
	height: 26px;
	list-style: none;
	text-align: left;
	color: black;
	line-height: 26px;
	font-size: 12px;
	font-family: "微软雅黑";
    text-align: center;	
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.vvalue2 span{
	width: 13px;
	height: 13px;
	background-color: red;
	float: right;
	margin-top: 13px;
	background: url("../img/duigou.png") no-repeat;
	display: none;
}
.number{
	width: 500px;
	height: 40px;
	left: 480px;
	top: 300px;
	position: absolute;
}
.nname{
	list-style: none;
	text-align: left;
	color: black;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: left;	
    float: left;
}
.nvalue1{
	height: 25px;
	text-align: left;
	color: black;
	line-height: 30px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: left;	
    float: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 7px;
}
.nminus{
	width: 25px;
	height: 25px;
	float: left;
	list-style: none;
	text-align: center;
	border: 1px solid rgb(207,207,207);
	color: black;
	line-height: 25px;
	font-size: 16px;
	font-family: "微软雅黑";
	cursor: pointer;
	user-select: none;
}
.ntext{
	width: 50px;
	height: 25px;
	float: left;
	list-style: none;
	text-align: center;
	border: 1px solid rgb(207,207,207);
	color: black;
	line-height: 25px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.nadd{
	width: 25px;
	height: 25px;
	float: left;
	list-style: none;
	text-align: center;
	border: 1px solid rgb(207,207,207);
	color: black;
	line-height: 25px;
	font-size: 16px;
	font-family: "微软雅黑";
	cursor: pointer;
	user-select: none;
}
.nvalue2{
	list-style: none;
	text-align: left;
	color: black;
	line-height: 40px;
	font-size: 12px;
	font-family: "微软雅黑";
    float: left;
}
.sales{
	width: 500px;
	height: 40px;
	left: 453px;
	top: 340px;
	position: absolute;
	background: url("../img/oo_03.jpg") no-repeat;
}
.result{
	width: 500px;
	height: 40px;
	left: 480px;
	top: 380px;
	position: absolute;
}
.resultname{
	width: 130px;
	list-style: none;
	color: black;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: right;	
    float: left;
}
.resultvalue{
	width: 60px;
	list-style: none;
	color: rgb(255,120,0);
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: left;	
    float: left;
    margin-left: 20px;
}
.decision{
	width: 500px;
	height: 30px;
	left: 480px;
	top: 425px;
	position: absolute;
}
.buy{
	width: 130px;
	list-style: none;
	color: rgb(255,77,84);
	line-height: 30px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: center;	
    float: left;
    background-color: white;
    border: 2px solid rgb(255,77,84);
    border-radius: 5px;
    cursor: pointer;
}
.cart{
	width: 130px;
	list-style: none;
	color: white;
	line-height: 30px;
	font-size: 14px;
	font-family: "微软雅黑";
    text-align: center;	
    float: left;
    margin-left: 20px;
    background-color: rgb(255,77,84);
    border: 2px solid rgb(255,77,84);
    border-radius: 5px;
    cursor: pointer;
}
#MainRight img{
	width: 500px;
	height: 101px;
	left: 460px;
	top: 170px;
	position: absolute;
}
#MainAd{
	width: 100%;
	height: 104px;
	float: left;
    background: url("../img/a_07.jpg") no-repeat;
}
#MainBottom{
	width: 100%;
	height: 175px;
	top: 935px;
	position: absolute;
	border-bottom: 1px solid rgb(207,207,207);	
	background-color: white;
}
#BottomContent{
	width: 1180px;
	height: 200px;
	margin: 0 auto;
}
#BottomLeft{
	width: 170px;
	height: 200px;
	float: left;
	background: url("../img/loginB.jpg") 0 -10px no-repeat;
}
#BottomMiddle{
	width: 802px;
	height: 190px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}
#BottomMiddle ul{
	float: left;
	margin-left: 20px;
}
.bltitle a{
	width: 130px;
	height: 40px;
	float: left;
	color: black;
	line-height: 40px;
	font-size: 16px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: left;
}
.blbody a{
	width: 130px;
	height: 20px;
	float: left;
	color: rgb(79,79,79);
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: left;
	margin-bottom: 5px;
}
#BottomRight img{
	margin-top: 20px;
	margin-left: 5px;
}
#About{
	width: 100%;
	height: 175px;
	top: 1112px;
	position: absolute;
	background-color: white;
}
.aboutbar{
	width: 660px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
}
.aboutbar a{
	float: left;
	color: rgb(79,79,79);
	line-height: 40px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
.aboutbar span{
	width: 30px;
	float: left;
	color: rgb(79,79,79);
	line-height: 40px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
#About p{
	width: 1180px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	color: rgb(156,156,156);
	line-height: 30px;
	font-size: 12px;
	font-family: "微软雅黑";
    user-select: none;	
    text-decoration: none;
    text-align: center;	
}
.certification{
	width: 900px;
	height: 60px;
	text-align: center;
	margin: 0 auto;
}
.certification img{
	bottom: 0px;
	float: bottom;
	margin-left: 5px;
}